body {
    background-color: #3A3D7A;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #312d5a;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.timer {
    background-color: #9488d3;
    height: 25px;
    border-radius: 10px;
    width: 100%;
    margin: 0 10px;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
}

.media {
    margin: 20px 0;
}

.media audio {
    width: 100%;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-btn {
    background-color: #9C97F1;
    color: white;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
}

.action-btn:hover {
    background-color: #9C97F1;
}

.action-btn:active {
    background-color: white;
    color: #9C97F1;
}

.score {
    margin-top: 15px;
    font-size: 18px;
}