body {
    background-color: #3A3D7A;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #312d5a;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.timer {
    background-color: #9C97F1;
    height: 25px;
    border-radius: 10px;
    width: 100%;
    margin: 0 10px;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
}

.media {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.media img, .media video, .media audio {
    width: 100%;
    border-radius: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #9C97F1;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #9C97F1;
}

.option:active {
    background-color: white;
    color: #9C97F1;
}